# Auto detect text files and perform LF normalization
* text=auto
# Shader dosyalarını istatistikten hariç tut
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.hlsl linguist-detectable=false
*.compute linguist-detectable=false